.create-comment {
  border-top: 0.1px solid silver;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.comment-input {
  border: none;
  font-size: 18px;
  flex-grow: 1;
}

.comment-input:focus {
  outline: none;
}

.comment {
  display: flex;
  column-gap: 20px;
}

.comment-details {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
