.user-stats {
  display: flex;
}

.user-stat {
  display: flex;
  padding-right: 26px;
  margin-right: 5px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post:hover {
  cursor: pointer;
}
