.search-input {
  margin: 0 20px;
  margin-bottom: 24px;
  padding: 3px 16px;
  font-size: 18px;
  border-radius: 6px;
  height: 38px;
  border: none;
  background-color: rgb(235, 233, 233);
}

.search-input:focus {
  outline: none;
}

.profile-header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 10px 24px;
}

.profile-header:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.profile-header:active {
  opacity: 0.6;
}

.profile-photo {
  border-radius: 50%;
}

.cancel-button {
  position: absolute;
  margin-top: 10px;
  right: 28px;
  opacity: 0.4;
}

.latest-users {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 24px 2px 24px;
}

.profile-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.remove-button:hover {
  color: rgb(138, 138, 138) !important;
  z-index: 100;
}
