body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
  height: 100vh;
}

textarea{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important;
  font-size: 20px;
}

#root{
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.outlined-button{
  background-color: none;
  border: none;
}

button:hover{
  cursor: pointer;
}

.blue-button{
  color: rgb(0, 149, 246);
  background-color: white;
  text-align: center;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.blue-button:hover{
  color: #00376b;
  cursor: pointer;
}

.blue-button-filled {
  color: white;
  background-color: rgb(0, 149, 246);
  text-align: center;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
}

.blue-button-filled:hover{
  background-color: rgb(1, 112, 185);
  cursor: pointer;
}

.grey-button{
  background-color: rgb(239, 239, 239);
  border: none;
  padding: 6px 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 600;
}

.grey-button:hover{
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.grey-button-outlined{
  background-color: white;
  color: rgb(115, 115, 115);
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}

.show-on-hover{
  opacity: 0;
}

.show-on-hover:hover{
  opacity: 1;
}

h1{
  margin: 0;
  font-size: 18px;
}

h4{
  margin: 0;
}

.material-symbols-outlined{
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.material-symbols-outlined:hover{
  opacity: 0.6;
}

.normal-weight{
  font-weight: normal;
}