body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100vh;
}

#root{
  height: 100vh;
}

a{
  text-decoration: none;
  color: black;
}

.blue-button{
  color: rgb(0, 149, 246);
  background-color: white;
  text-align: center;
  border: none;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.blue-button:hover{
  color: #00376b;
  cursor: pointer;
}

.grey-button{
  background-color: rgb(239, 239, 239);
  border: none;
  padding: 10px 12px;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
}

.grey-button:hover{
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

h1{
  margin: 0;
  font-size: 16px;
}

h4{
  margin: 0;
}

.material-symbols-outlined{
  display: flex;
  justify-content: stretch;
  align-items: center;
}

span:hover{
  cursor: pointer;
}

.normal-weight{
  font-weight: normal;
}