#chat{
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

#left-panel{
    display: flex;
    flex-direction: column;
    border-right: solid 1px #cccccc;
}

#contacts{
    flex-grow: 2;
    overflow-y: scroll;
}

.contact{
    padding: 12px 56px;
}

.contact:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

#right-panel{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.conversation-user{
    padding: 28px;
    border-bottom: solid 1px #cccccc;
}

.conversation{
    flex-grow: 2;
    padding: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    overflow-y: scroll;
}

.message{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-date{
    color: rgb(136, 136, 136);
    width: 100%;
    text-align: center;
}

.message-content{
    background-color: white;
    margin-top: 8px;
    max-width: 40%;
    padding: 22px;
    border-radius: 28px;
    align-self: flex-start;
    border: 1px solid #e3e3e3;
}

.send-message{
    padding: 24px;
    border-top: 1px solid #e3e3e3;
}

@media (max-width: 800px) {
    #chat{
        grid-template-columns: 40% 60%;
    }
}